.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-title {
  font-size: 50px;
  margin: 50px 0;
}

#comment_message {
  border: 2px solid black;
  padding: 5px;
  margin: 40px auto;
  display: block;
  width: 300px;
  cursor: pointer;
}

#comment-submit {
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
}