.header {
  width: 100%;
  height: 700px;
}
.header-bar {
  background-color: cornsilk;
  height: 10%;
  display: flex;
  justify-content: space-between;
}
.header-left {
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  line-height: 70px;
  margin-left: 30px;
}
.header-right {
  justify-content: space-evenly;
  width: 300px;
  display: flex;
  line-height: 70px;
}
.header-right a {
  color: black;
  text-decoration: none;
}

/* ここまでヘッダー */

/* ここからメイン */
.main {
  width: 100%;
}
.search-form {
  font-size: 30px;
  height: 300px;
  text-align: center;
  line-height: 70px;
}
.search-form h1 {
  margin: 30px auto;
  width: 500px;
  border-bottom: 1px solid red;
}
#q_language_eq, #q_user_nickname_eq {
  font-size: 20px;
  cursor: pointer;
}
.main-contents-title {
  text-align: center;
  font-size: 30px;
  width: 500px;
  margin: 50px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid red;
}
.main-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contents {
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
  line-height: 25px;
  height: 110px;
  width: 30%;
  border: 2px solid black;
}
.go-to-show a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  background-color:antiquewhite;
}
.root-to-index {
  text-align: center;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  width: 100%;
}
.root-to-index a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

/* ここまでメイン*/

/* ここからフッター */
.footer {
  margin-top: auto;
  width: 100%;
  bottom: 0;
  background-color: darkgreen;
  height: 70px;
  text-align: center;
  line-height: 70px;
}
#wrapper {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}